{% extends 'base.html' %}
    {% block content %}
         <table>
             <tr>
             <th>PK</th>
             <th>Name</th>
             <th>hours</th>
             <th>Project</th>
             </tr>
             {% for product in products %}
                 <tr>
                 <td>{{ product.pk }}</td>
                 <td>
                 <a href="{% url 'product_detail' product.pk %}">
                 {{ product.name }}
                 </a>
                 </td>
                 <td>{{ product.hours }}</td>
                 <td>{{ product.Project.name }}</td>
                 </tr>
             {% endfor %}
         </table>
        <a href="{% url 'product_create' %}">Add product</a>

    {% endblock %}





