{% extends 'base.html' %}

{% block content %}

<div class="container">

  <div class="row justify-content-left">
          <div class="col-sm-6">

          <div class="card m-1 p-1" style="width: 22rem;">
              <img src="{{ eachProduct.image.url }}" class="card-img-top product" alt="...">
              <div class="card-body m-1 p-1">
                  <h5 class="card-title m-1"><b>Name:</b> {{ eachProduct.name }}</h5>
                  <h4 class="card-subtitle m-1"><b>hours:</b> {{ eachProduct.hours }}</h4>
                  <p style="font-size: 14px;" class="btn btn-warning m-1 p-1">{{ eachProduct.Project.name }}</p>
                  <hr>
                  <p style="font-size: 15px;" class="card-text mt-1"><b>Description:</b> {{ eachProduct.description }}</p>
                  <p style="font-size: 13px;" class="cart-text mt-1">
                      <a href="{% url 'sendNotification' eachProduct.id eachProduct.author.email eachProduct.author.username %}" class="btn-sm btn-success m-1 text-decoration-none"> Notify </a>
                      Author - {{ eachProduct.author }}</p>
                  <p style="font-size: 13px;" class="cart-text mt-1">
                      <a href="{% url 'sendNotification' eachProduct.id eachProduct.performer.email eachProduct.performer.username %}" class="btn-sm btn-success m-1 text-decoration-none"> Notify </a>
                      Performer - {{ eachProduct.performer }}</p>
                  <p style="font-size: 13px;" class="cart-text mt-1">Added - {{ eachProduct.created_at }}</p>
                  <a href="{% url 'deleteProduct' eachProduct.id %}" class="btn btn-danger m-1"> Delete </a>
                  <a href="{% url 'updateProduct' eachProduct.id %}" class="btn btn-primary m-1"> Update </a>
                  <a href="{% url 'showProducts' %}" class="btn btn-primary m-1">Back</a>
              </div>
          </div>
      </div>

      <div class="col-sm-6">
         <div style="margin: 5px padding:2px">
            <b> Add Comments </b> ({{ num_comments }})
            <br>
            <hr>

            {% if not eachProduct.comments.all %}

                <p>Not comments added yet...</p>
               <p><a class="btn btn-primary" href="{% url 'add-comment' eachProduct.id %}">  Add Comment </a></p>

            {% else %}

                {% for comment in eachProduct.comments.all %}

                    <h5><strong>{{ comment.commenter_name }}</strong></h5>
                    <p>{{ comment.comment_body }}</p>
                    <p><small>{{ comment.date_added }}</small></p>

                    {% if request.user.username == comment.commenter_name %}

                        <p><a class="btn btn-danger" href="{% url 'delete-comment' eachProduct.id %}">  Delete Comment </a></p>

                    {% endif %}

                {% endfor %}
            <p><a class="btn btn-primary" href="{% url 'add-comment' eachProduct.id %}">  Add Comment </a></p>
            <p><a class="btn btn-primary mt-2" href="{% url 'showProducts' %}" > Back </a></p>
            {% endif %}

         </div>
      </div>
  </div>

</div>

    <div id="myModal" class="modal">
        <!-- The Close Button -->
        <span class="close">&times;</span>
        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">
        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>
    <br/>
    <p><b> DONE JOBS IN YOUR WORK LIST </b> </p> <br/>

    <table class="table"  id="display-cart">

    </table>


{% endblock %}

{% block script %}
<script src="/static/js/popup1.js"></script>

<script>
$( document ).ready(function() {
	console.log(cart);
	var html = ""
	    html += "<tr>";
        html += "<th>PK</th>";
        html += "<th>Image</th>";
        html += "<th>Name</th>";
        html += "<th>hours</th>";
        html += "<th>Project</th>";
        html += "<th>Quantity</th>";
        html += "</tr>";
	for (product in cart ) {
	    html += "<tr>";
		html += "<td>"+ cart[product].pk+"</td>";
		html += "<td><img src="+ cart[product].image+" width=50 height=50 class='product'  alt='My image'></td>"
		html += "<td>"+ cart[product].name+"</td>";
		html += "<td>"+ cart[product].hours+"</td>";
		html += "<td>"+ cart[product].Project+"</td>";
		html += "<td>"+ cart[product].quantity+"</td>";
		html += "<br/>";
		html += "</tr>";
	}
    console.log(html);
	$('#display-cart').html(html)

});
</script>
{% endblock %}