{% extends 'base.html' %}

{% block script %}
<script src="/static/js/popup1.js"></script>
{% endblock %}

{% block content %}
<th><img  src=" /media/signup.jfif " width="100" class="m-2"> <br/></th>
<p class="m-2"><b>USERS DETAILS PAGE</b></p>
    {% if user.is_authenticated %}

    <a class="btn btn-primary m-1" href="{% url 'working-hours' user.pk %}" role="button">My hours </a>

    <table class="table">
        <tr>
            <th>Number</th>
            <th>User Name</th>
            <th>Personal ID</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Hours</th>
        </tr>
        {% for user in users %}

            <tr>
                <td>{{ user.pk }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.personal_id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td><a class="btn btn-outline-primary" href="{% url 'hours_list_of_user' user.pk %}" role="button"><img src=" /media/update.jpg " width="15"></a><br/></td>
            </tr>

        {% endfor %}
    </table>

    <a class="btn btn-success m-1" href="{% url 'project_create' %}" role="button">Add project </a>

    {% else %}
    you need to be logged in to see the content <br/>
    <a class="btn btn-primary" href="{% url 'login' %}" role="button">Login </a>

    {% endif %}

<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- The Close Button -->
    <span class="close">&times;</span>
    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">
    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>

{% endblock %}