<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"/>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

 <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
 <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" crossorigin="anonymous">




</head>
  <body>

<!--    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
      <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
      <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>

    <script>
      $(function () {
        $("#datetimepicker1").datetimepicker();
      });
    </script>-->

  </body>
</html>


 <title>{% block title %} ERLIN online {% endblock %}</title>

 <link rel="icon" href=" /media/favicon.bmp">

<meta name="viewport" content="width=device-width, initial-scale=1">

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/styles/product.css"/>
    <script type="text/javascript">
        var user = '{{ request.user }}';
        function getToken(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken');
    </script>

{% endblock %}


</head>

<body>

  <nav class="navbar navbar-expand sticky-top navbar-dark bg-dark ">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
             <li class="nav-item">
                <a class="navbar-brand" style="margin:1px;" href="/products/list/"><img src=" /media/ERLIN_logo_black.bmp " width="35" style="padding:1px"></a>
             </li>
<!--            <li class="nav-item">-->
<!--                <a class="navbar-brand" href="{% url 'showProducts' %}"></a>-->
<!--            </li>-->
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
<!--         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--          </button>-->
{% if user.is_authenticated %}
      <div class=" navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
<!--          <li class="nav-item active">-->
<!--            <a class="nav-link" id="home" href="/products/list">Products<span class="sr-only">(current)</span></a>-->
<!--          </li>-->
            <li class="nav-item active">
                <a class="nav-link active" style="padding-right:1px; padding-left:1px;" aria-current="page" href="{% url 'showProducts' %}">Jobs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="padding-right:1px; padding-left:1px;" href="{% url 'addProduct' %}">| + |</a>
            </li>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" id="add_project" href="{% url 'product_create' %}">Add Project</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" id="Project_list" href="/products/Project_list/">Project</a>-->
<!--          </li>-->

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="padding-right:1px; padding-left:1px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="False">
              Project
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for project in projects %}
                {% if project.is_active is True %}
                <a class="dropdown-item" style="font-size: 10px;" href="{% url 'showProducts' %}?project={{ project.name }}">{{ project.name }}</a>
                {% endif %}
              {% endfor %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'showProducts' %}">Show all</a>
              <a class="dropdown-item" href="{% url 'addGeneralHours' %}">Add Hours</a>
              <a class="dropdown-item" href="{% url 'working-hours' user.pk %}">My Hours</a>
              <a class="dropdown-item" href="{% url 'showUsers' %}">Users</a>
              <a class="dropdown-item" href="{% url 'showProjects' %}">Projects...</a>
            </div>
          </li>
        </ul>

<!--        <div class="col-sm-9">
            <div id="cart" style="float:right">Items in Cart :<span id="cart_items">{{request.session.cartItems}}</span></div>
            <hr>
            {% block content1 %}{% endblock %}
        </div>-->



        <ul class="navbar-nav ml-auto">

          <li class="nav-item" >
            <a class="nav-link" id="cart" href="/shopping_cart/list"><span id="cart-items">0</span>  in <img src="/media/cart.png" width="25" href="/shopping_cart/list"></a>
          </li>

          <li class="nav-item">

<!--                <li class="nav-item">-->
<!--                        <a class="nav-link" href="{% url 'addProduct' %}">Add Job</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                       <a class="nav-link" href="{% url 'showProducts' %}">PDF</a>-->
<!--                </li>-->

<!--                <form class="form-inline my-2 my-lg-0">-->
<!--                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>-->
<!--                        action="{% url 'logout' %}" id="logout" method="POST">-->
<!--                      {% csrf_token %}-->
<!--                        <input type="hidden">-->

<!--                </form>-->

                <a class="nav-link" id="logout" href="/accounts/logout/">Q: {{user.username}}</a>
{% else %}
                <li class="nav-item m-3">
                    <a href="{% url 'login' %}" class="btn btn-primary m-1">Login</a>
                </li>

                <li class="nav-item m-3">
                <a href="{% url 'register' %}" class="btn btn-success m-1">Register</a>
                </li>
{% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <div id="content m-1 p-1" >
     {% block content %}
     {% endblock %}
  </div>

  <div id="footer">
       <br/>
       <h2 class="text-center mt-3">- ERLIN online -</h2>
       <br/>
  </div>

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.bundle.js' %}"></script>

<!--<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>-->
<script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tempus-dominus.js' %}"></script>
<link rel="stylesheet" href="{% static 'styles/tempus-dominus.css' %}"/>


{% block script %}{% endblock %}

</body>

</html>

